// Colors
$alabaster: #f8f8f8;
$alizarin-crimson: #ee2829;
$cannon-pink: #7f4366;
$mine-shaft: #252525;
$tory-blue: #0f5da3;
$swiss-coffee: #d3cdcd;

// Neutral colors
$black: #000000;
$white: #ffffff;

$primary: $tory-blue;
$secondary: $alizarin-crimson;
